In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = '/home/navarra/anaconda3/spark/Exercise Files/Data'

In [4]:
df = spark.read.format('json').load(data_path + '/utlization.json')

In [5]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [6]:
df.createOrReplaceTempView('utilization')

In [7]:
df_sql = spark.sql('SELECT count(*) \
                    FROM utilization')
df_sql.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [10]:
df_sql = spark.sql('SELECT count(*) \
                    FROM utilization \
                    WHERE session_count > 70')
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [12]:
df_sql = spark.sql('SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id')
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      112|    7425|
|      113|    9418|
|      130|    2891|
|      126|    6365|
|      149|    8288|
|      110|    2826|
|      136|    4316|
|      144|    6220|
|      116|    1167|
|      145|    9304|
|      143|     144|
|      107|    5646|
|      146|    7072|
|      103|    8744|
|      139|    7383|
|      114|    2128|
|      115|    5284|
|      104|    7366|
|      120|    2733|
|      128|    3719|
+---------+--------+
only showing top 20 rows

In [14]:
df_sql = spark.sql('SELECT server_id, count(*) AS counts \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY counts DESC')
df_sql.show()

+---------+------+
|server_id|counts|
+---------+------+
|      101|  9808|
|      113|  9418|
|      145|  9304|
|      103|  8744|
|      102|  8586|
|      133|  8583|
|      108|  8375|
|      149|  8288|
|      137|  8248|
|      148|  8027|
|      123|  7918|
|      118|  7913|
|      112|  7425|
|      139|  7383|
|      104|  7366|
|      142|  7084|
|      121|  7084|
|      146|  7072|
|      126|  6365|
|      144|  6220|
+---------+------+
only showing top 20 rows

In [18]:
df_sql = spark.sql('SELECT server_id, min(session_count), avg(session_count), max(session_count) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id')
df_sql.show()

+---------+------------------+------------------+------------------+
|server_id|min(session_count)|avg(session_count)|max(session_count)|
+---------+------------------+------------------+------------------+
|      112|                71| 83.54505050505051|                97|
|      113|                71| 86.96262476109577|               103|
|      130|                71| 75.50501556554825|                80|
|      126|                71| 81.56150824823253|                93|
|      149|                71|  84.9612693050193|                99|
|      110|                71| 75.46709129511677|                80|
|      136|                71| 77.96200185356813|                85|
|      144|                71| 81.38472668810289|                92|
|      116|                71| 72.61953727506426|                75|
|      145|                71| 86.97732158211522|               103|
|      143|                71|              71.0|                71|
|      107|                71| 80.34945093871768|                90|
|      146|                71| 82.95093325791855|                95|
|      103|                71| 85.76372369624886|               101|
|      139|                71| 83.32710280373831|                96|
|      114|                71| 74.17951127819549|                78|
|      115|                71| 79.69776684330053|                89|
|      104|                71| 83.34604941623677|                96|
|      120|                71| 75.37321624588364|                80|
|      128|                71| 76.93385318634041|                83|
+---------+------------------+------------------+------------------+
only showing top 20 rows

In [19]:
df_sql = spark.sql('SELECT server_id, min(session_count), round(avg(session_count),2), max(session_count) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id')
df_sql.show()

+---------+------------------+----------------------------+------------------+
|server_id|min(session_count)|round(avg(session_count), 2)|max(session_count)|
+---------+------------------+----------------------------+------------------+
|      112|                71|                       83.55|                97|
|      113|                71|                       86.96|               103|
|      130|                71|                       75.51|                80|
|      126|                71|                       81.56|                93|
|      149|                71|                       84.96|                99|
|      110|                71|                       75.47|                80|
|      136|                71|                       77.96|                85|
|      144|                71|                       81.38|                92|
|      116|                71|                       72.62|                75|
|      145|                71|                       86.98|               103|
|      143|                71|                        71.0|                71|
|      107|                71|                       80.35|                90|
|      146|                71|                       82.95|                95|
|      103|                71|                       85.76|               101|
|      139|                71|                       83.33|                96|
|      114|                71|                       74.18|                78|
|      115|                71|                        79.7|                89|
|      104|                71|                       83.35|                96|
|      120|                71|                       75.37|                80|
|      128|                71|                       76.93|                83|
+---------+------------------+----------------------------+------------------+
only showing top 20 rows