In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = '/home/navarra/anaconda3/spark/Exercise Files/Data'

In [4]:
df1 = spark.read.format('json').load(data_path + '/utlization.json')

In [5]:
df1

DataFrame[cpu_utilization: double, event_datetime: string, free_memory: double, server_id: bigint, session_count: bigint]

In [6]:
df1.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [7]:
df1.count()

500000

In [8]:
df1.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [9]:
df1_sample = df1.sample(False, fraction = 0.1)

In [11]:
df1_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.62|03/05/2019 10:16:14|       0.69|      100|           56|
|           0.55|03/05/2019 10:51:14|       0.42|      100|           60|
|           0.32|03/05/2019 11:06:14|       0.35|      100|           71|
|           0.44|03/05/2019 11:16:14|       0.47|      100|           43|
|            0.4|03/05/2019 13:21:14|       0.55|      100|           43|
|            0.6|03/05/2019 14:36:14|       0.65|      100|           59|
|           0.39|03/05/2019 15:01:14|       0.52|      100|           48|
|           0.66|03/05/2019 16:51:14|       0.35|      100|           64|
|           0.46|03/05/2019 17:16:14|       0.69|      100|           41|
|           0.64|03/05/2019 18:21:14|        0.6|      100|           67|
|           0.56|03/05/2019 20:31:14|        0.7|      100|           61|
|           0.57|03/05/2019 21:21:14|       0.33|      100|           43|
|           0.48|03/05/2019 23:41:14|       0.48|      100|           47|
|           0.59|03/06/2019 00:36:14|       0.39|      100|           62|
|           0.57|03/06/2019 02:16:14|       0.48|      100|           47|
|           0.64|03/06/2019 03:16:14|       0.45|      100|           69|
|           0.31|03/06/2019 03:41:14|       0.71|      100|           37|
|           0.28|03/06/2019 04:06:14|       0.62|      100|           54|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [12]:
df1_sample.count()

50182

In [13]:
df1_sort = df1_sample.sort('event_datetime')

In [14]:
df1_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.62|03/05/2019 08:06:28|       0.41|      108|           86|
|           0.71|03/05/2019 08:06:34|       0.27|      112|           86|
|           0.24|03/05/2019 08:07:21|       0.68|      138|           59|
|           0.69|03/05/2019 08:07:28|       0.24|      141|           67|
|            0.8|03/05/2019 08:07:35|       0.21|      145|           94|
|           0.62|03/05/2019 08:11:21|       0.15|      104|           86|
|            0.6|03/05/2019 08:11:23|       0.45|      105|           74|
|           0.67|03/05/2019 08:11:29|       0.46|      109|           68|
|           0.78|03/05/2019 08:11:36|       0.38|      113|           83|
|           0.44|03/05/2019 08:11:43|       0.51|      117|           75|
|           0.23|03/05/2019 08:11:46|       0.76|      119|           37|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.65|03/05/2019 08:11:58|       0.12|      126|           83|
|           0.54|03/05/2019 08:12:21|       0.45|      138|           39|
|           0.48|03/05/2019 08:12:25|       0.36|      140|           65|
|           0.74|03/05/2019 08:12:29|       0.23|      142|           79|
|           0.55|03/05/2019 08:16:31|       0.36|      110|           78|
|           0.42|03/05/2019 08:17:01|       0.44|      128|           50|
|           0.63|03/05/2019 08:17:21|       0.63|      138|           41|
|           0.69|03/05/2019 08:17:39|       0.57|      147|           47|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows