In [1]:
from pyspark.sql import Row

In [2]:
df_dup = sc.parallelize([Row(server_name = '101 Server', cpu_utilization = 85, session_count = 80), \
                         Row(server_name = '101 Server', cpu_utilization = 80, session_count = 90), \
                         Row(server_name = '102 Server', cpu_utilization = 85, session_count = 80), \
                         Row(server_name = '102 Server', cpu_utilization = 85, session_count = 80)]).toDF()

In [3]:
df_dup.show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           80|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

In [5]:
df_dup.drop_duplicates().show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 101 Server|             85|           80|
| 101 Server|             80|           90|
| 102 Server|             85|           80|
+-----------+---------------+-------------+

In [7]:
df_dup.drop_duplicates(['server_name']).show()

+-----------+---------------+-------------+
|server_name|cpu_utilization|session_count|
+-----------+---------------+-------------+
| 102 Server|             85|           80|
| 101 Server|             85|           80|
+-----------+---------------+-------------+