In [4]:
# from pyspark import SparkContext, HiveContext
# sc = SparkContext.getOrCreate()
# sc.parallelize([1,2,3]).collect()

[1, 2, 3]

In [5]:
# import numpy as np
# import pandas as pd
# df = pd.DataFrame(np.random.randn(200,20))
# hc = HiveContext(sc)
# hc.createDataFrame(df).registerTempTable('testtable')
# hc.sql('SELECT * FROM testtable LIMIT 5').show() # Any other SQL command to your liking

+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+
|                  0|                   1|                  2|                   3|                   4|                   5|                   6|                   7|                  8|                   9|                  10|                 11|                  12|                  13|                 14|                  15|                 16|                 17|                 18|                  19|
+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+
|-0.9627186849238455| 0.14345929373968555| 0.4923926495384488|  0.5039167989599774|  0.9971212247187985| 0.46375753559288857| -0.6746690187880191|    1.35810434568853|  -1.14105283967435|-0.08358179940803291| 0.40667313535113786|  1.625410229225274|  1.2399579336440012| -0.1426093162058783| 0.9869697545471584| -0.7169690788453599|0.22326941948623188|-1.0165661319599466|0.43709490027934916|   0.603816969968891|
|0.05363930665332222|-0.02258521075374021|  1.415689856237025|-0.42981978641191027| 0.41591913347370324| -0.3545946694029894|  -0.953913113798651| -0.3531286881941495|-0.0740895224154096|  1.3026278040905719|-0.42730289515536096| 0.7093441729911345| -1.4388230569710172|   1.518183537326455|   1.04003098521051| -1.4369455942700449|-1.1115811492752647|-0.5708773768709258|-1.0482794366403698| -0.7572016648056175|
| 1.5556366958895587|  0.5959746662670662|0.45695109157792085|  1.4508738079565053|0.055769962043085736|  -1.106916866432401|0.012335012605554316|  -1.628029296774644|-0.8969215197759449| -0.7721633292314263|  0.8200457613742967| 1.5720451504990565| -0.6064693117448208|-0.05559079404663831|  -1.69534174525938|-0.13979245865233714|-0.9645246424312349|-1.2981569739717551|-0.8803879813472608|  0.6255050801927965|
|  1.385573334111026|  2.1213258001193784|  2.558566800592789| -1.7561928136381584|  0.6167717287968706| 0.43824475145481046|0.014608141043428096|  -1.745303222160427| 0.4737881415539761|  -1.042325438521907|  1.6098335579148164|0.21324446217727916|0.005832246750637...| -1.3374641986181455|-1.1379927980475522|  0.8185124075996703|-1.1950788270541441|-0.9438245208408602|-1.7649462641104758|-0.49284654763883756|
| 1.0086993179756714| -0.6695583565920677|  1.926627702202811|  0.2712924453010707| -1.2941266439078114|-0.29610878183828004|  1.1069621755535177|-0.22389278748674663|0.10965149354297334|  0.4658247718799002|-0.29193318837213694|-1.1568175273072725| 0.24580519924801134| -0.6059880509559641|0.12356417013599873| 0.12030228225176627|-1.3953022115278615|0.21979112775726878| 1.1760147576054432|  0.8302912312400164|
+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
spark

In [5]:
data_path = '/home/navarra/anaconda3/spark/Exercise Files/Data'

In [6]:
# load a csv file
df1 = spark.read.format('csv').option('header', 'true').load(data_path + '/location_temp.csv')

In [7]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [8]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [9]:
df1.count()

500000

In [10]:
# load csv file with 'no header'
df2 = spark.read.format('csv').option('header', 'false').option('inferSchema', 'true').load(data_path+'/utilization.csv')

In [12]:
df2.head(5)  # spark creates column names, _c..., _c...

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43)]

In [14]:
df2.show(5)

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
+-------------------+---+----+----+---+
only showing top 5 rows

In [15]:
df2.count()

500000

In [17]:
df2 = df2.withColumnRenamed('_c0', 'event_datetime') \
         .withColumnRenamed('_c1', 'serverid') \
         .withColumnRenamed('_c2', 'cpu_utilization') \
         .withColumnRenamed('_c3', 'free_memory') \
         .withColumnRenamed('_c4', 'session_count')

In [20]:
df2.show(5)

+-------------------+--------+---------------+-----------+-------------+
|     event_datetime|serverid|cpu_utilization|free_memory|session_count|
+-------------------+--------+---------------+-----------+-------------+
|03/05/2019 08:06:14|     100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|     100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|     100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|     100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|     100|           0.35|       0.46|           43|
+-------------------+--------+---------------+-----------+-------------+
only showing top 5 rows