In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = '/home/navarra/anaconda3/spark/Exercise Files/Data'

In [4]:
df = spark.read.format('csv').option('header', 'true').load(data_path + '/location_temp.csv')

In [5]:
df.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

# Sampling

In [6]:
df.count()

500000

In [7]:
df_s = df.sample(fraction = 0.1, withReplacement = False)

In [8]:
df_s.count()

50011

In [9]:
df_s.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 22:18:06|       loc0|          29|
|03/04/2019 23:23:06|       loc0|          27|
|03/04/2019 23:38:06|       loc0|          29|
|03/04/2019 23:58:06|       loc0|          30|
|03/05/2019 00:33:06|       loc0|          27|
|03/05/2019 00:58:06|       loc0|          30|
|03/05/2019 01:48:06|       loc0|          29|
|03/05/2019 02:08:06|       loc0|          32|
|03/05/2019 02:33:06|       loc0|          29|
|03/05/2019 03:23:06|       loc0|          31|
|03/05/2019 03:28:06|       loc0|          29|
|03/05/2019 05:23:06|       loc0|          31|
|03/05/2019 06:13:06|       loc0|          30|
|03/05/2019 06:33:06|       loc0|          29|
|03/05/2019 07:38:06|       loc0|          27|
|03/05/2019 08:03:06|       loc0|          27|
|03/05/2019 09:53:06|       loc0|          30|
|03/05/2019 10:48:06|       loc0|          28|
|03/05/2019 11:08:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [10]:
df_s.groupBy('location_id').agg({'temp_celcius' :'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|28.896551724137932|
|     loc226|25.272727272727273|
|     loc463|23.094736842105263|
|     loc150| 31.88118811881188|
|     loc292| 29.04123711340206|
|     loc311|24.142857142857142|
|      loc22|28.466666666666665|
|     loc351| 28.51219512195122|
|     loc370| 28.84269662921348|
|     loc419|28.741935483870968|
|      loc31| 25.17094017094017|
|     loc305|            27.544|
|      loc82|27.255102040816325|
|      loc90|23.154761904761905|
|     loc118|23.979591836734695|
|     loc195|27.037735849056602|
|     loc208| 26.08823529411765|
|      loc39|25.214285714285715|
|      loc75| 22.98913043478261|
|     loc228|27.181818181818183|
+-----------+------------------+
only showing top 20 rows

In [11]:
df_s.groupBy('location_id').agg({'temp_celcius' : 'mean'}).orderBy('location_id').show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.097087378640776|
|       loc1|28.323529411764707|
|      loc10|25.683168316831683|
|     loc100| 27.48421052631579|
|     loc101|25.677419354838708|
|     loc102| 30.04040404040404|
|     loc103|25.182795698924732|
|     loc104|26.355555555555554|
|     loc105|26.271844660194176|
|     loc106|27.274509803921568|
+-----------+------------------+
only showing top 10 rows

In [12]:
df.groupBy('location_id').agg({'temp_celcius' : 'mean'}).orderBy('location_id').show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

# Saving

In [13]:
df.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [18]:
df.write.csv('df1.csv')

In [15]:
! ls

 Basic_df_operations.ipynb     Loading_csv_into_dataframes.ipynb
 df1.csv		       Loading_json_into_dataframes.ipynb
'Exercise Files'	       Sample_and_Save_data_from_df.ipynb
 Filtering_Aggregating.ipynb

In [16]:
! ls df1.csv # spark breaks up dataframes into partition subsets.

part-00000-64f6a70c-0e98-45da-8a6c-65e9f61491ce-c000.csv
part-00001-64f6a70c-0e98-45da-8a6c-65e9f61491ce-c000.csv
part-00002-64f6a70c-0e98-45da-8a6c-65e9f61491ce-c000.csv
part-00003-64f6a70c-0e98-45da-8a6c-65e9f61491ce-c000.csv
_SUCCESS

In [17]:
! head df1.csv/part-00000-64f6a70c-0e98-45da-8a6c-65e9f61491ce-c000.csv

03/04/2019 19:48:06,loc0,29
03/04/2019 19:53:06,loc0,27
03/04/2019 19:58:06,loc0,28
03/04/2019 20:03:06,loc0,30
03/04/2019 20:08:06,loc0,27
03/04/2019 20:13:06,loc0,27
03/04/2019 20:18:06,loc0,27
03/04/2019 20:23:06,loc0,29
03/04/2019 20:28:06,loc0,32
03/04/2019 20:33:06,loc0,35

In [19]:
df.write.json('df1.json')

In [20]:
! ls df1.json

part-00000-ecc88ed3-af65-4178-9679-d0c3fc1abfe4-c000.json
part-00001-ecc88ed3-af65-4178-9679-d0c3fc1abfe4-c000.json
part-00002-ecc88ed3-af65-4178-9679-d0c3fc1abfe4-c000.json
part-00003-ecc88ed3-af65-4178-9679-d0c3fc1abfe4-c000.json
_SUCCESS

In [21]:
! head df1.json/part-00000-ecc88ed3-af65-4178-9679-d0c3fc1abfe4-c000.json

{"event_date":"03/04/2019 19:48:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 19:53:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 19:58:06","location_id":"loc0","temp_celcius":"28"}
{"event_date":"03/04/2019 20:03:06","location_id":"loc0","temp_celcius":"30"}
{"event_date":"03/04/2019 20:08:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:13:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:18:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:23:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 20:28:06","location_id":"loc0","temp_celcius":"32"}
{"event_date":"03/04/2019 20:33:06","location_id":"loc0","temp_celcius":"35"}